In [4]:
# Importar librerias necesarias

import pandas as pd
import numpy as np
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt

Se importan los datos escalados usando std

In [10]:
usos_wide = pd.read_csv('./datos_metricas_socioeconomicos_porcentajes.csv', encoding = 'ISO-8859-1')

usos_wide

,Ciudades,TA,LPI,AREA_MN,AREA_AM,AREA_MD,GYRATE_MN,GYRATE_AM,GYRATE_MD,PRD,...,T_Viv_Sec,Viv_vacias,COM,ED_SING,EQUIP,IND,OCIO,OFI,RES_PLU,RES_UNI
0,Albacete,1605.293355,2.929497,0.116461,2.976411,0.031520,8.380829,36.057566,5.710261,0.498351,...,5168,15081,0.445018,6.865100,12.018658,28.687649,0.698910,0.553468,16.789481,33.941716
1,Alcalá de Henares,1615.304126,2.451039,0.136451,4.559123,0.019854,7.591469,55.583827,4.874116,0.495263,...,1255,5798,1.557489,11.259171,19.280883,41.836920,0.823273,1.896484,13.994314,9.351466
2,Alcobendas,1386.626321,2.882984,0.289423,3.843857,0.069676,12.998986,45.886723,9.320043,0.495263,...,566,1513,0.779649,10.608648,16.118619,12.718888,0.426558,4.777437,14.142538,40.427664
3,Alcorcón,787.044792,3.295528,0.161214,3.023467,0.028205,9.644223,43.879007,6.077800,1.016461,...,1303,3488,1.917222,6.864289,33.295606,25.021865,0.369681,0.344602,23.836880,8.349856
4,Algeciras,1063.319019,2.044908,0.063300,2.629819,0.013341,5.460983,38.065313,3.687046,0.752361,...,4700,6686,1.155169,2.049921,13.420545,14.524773,0.864348,0.355067,10.734807,56.895370
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,Valencia,2164.215491,2.515410,0.065111,4.506163,0.024895,6.216411,38.408851,4.992987,0.369649,...,33757,57193,2.379026,4.969881,20.811788,15.182360,0.892344,0.835998,46.083622,8.844982
68,Valladolid,2764.692882,2.285334,0.170702,9.992102,0.028855,8.463257,74.230483,5.392190,0.289363,...,10260,18757,0.554566,6.484727,20.232697,35.579456,0.798932,0.459606,19.956694,15.933323
69,Vigo,2673.672921,4.253406,0.076896,7.653004,0.037150,7.448687,40.795189,6.359690,0.299214,...,10536,18588,0.428888,3.261984,15.139326,20.636726,0.557649,0.404116,11.824315,47.746995
70,Zamora,551.778808,9.977708,0.075195,6.638329,0.018018,6.080244,52.258509,4.223122,1.449856,...,5092,6673,1.117133,4.423836,24.288501,27.917586,0.424895,0.199479,21.520892,20.107680
71,Zaragoza,4188.643450,1.576180,0.148265,6.420273,0.028926,8.365215,65.532054,5.374877,0.190993,...,14208,35136,0.759848,7.166901,14.004037,39.664112,0.305394,0.273807,23.482259,14.343641

Se elimina la columna ciudades para poder tener solo los datos númericos en un solo dataframe.

In [11]:
usos_numericos = usos_wide.drop("Ciudades", axis=1)

In [23]:
usos_numericos

,TA,LPI,AREA_MN,AREA_AM,AREA_MD,GYRATE_MN,GYRATE_AM,GYRATE_MD,PRD,SHDI,...,T_Viv_Sec,Viv_vacias,COM,ED_SING,EQUIP,IND,OCIO,OFI,RES_PLU,RES_UNI
0,1605.293355,2.929497,0.116461,2.976411,0.031520,8.380829,36.057566,5.710261,0.498351,0.723601,...,5168,15081,0.445018,6.865100,12.018658,28.687649,0.698910,0.553468,16.789481,33.941716
1,1615.304126,2.451039,0.136451,4.559123,0.019854,7.591469,55.583827,4.874116,0.495263,0.769670,...,1255,5798,1.557489,11.259171,19.280883,41.836920,0.823273,1.896484,13.994314,9.351466
2,1386.626321,2.882984,0.289423,3.843857,0.069676,12.998986,45.886723,9.320043,0.495263,0.769670,...,566,1513,0.779649,10.608648,16.118619,12.718888,0.426558,4.777437,14.142538,40.427664
3,787.044792,3.295528,0.161214,3.023467,0.028205,9.644223,43.879007,6.077800,1.016461,0.714969,...,1303,3488,1.917222,6.864289,33.295606,25.021865,0.369681,0.344602,23.836880,8.349856
4,1063.319019,2.044908,0.063300,2.629819,0.013341,5.460983,38.065313,3.687046,0.752361,1.209382,...,4700,6686,1.155169,2.049921,13.420545,14.524773,0.864348,0.355067,10.734807,56.895370
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,2164.215491,2.515410,0.065111,4.506163,0.024895,6.216411,38.408851,4.992987,0.369649,0.871006,...,33757,57193,2.379026,4.969881,20.811788,15.182360,0.892344,0.835998,46.083622,8.844982
68,2764.692882,2.285334,0.170702,9.992102,0.028855,8.463257,74.230483,5.392190,0.289363,0.708775,...,10260,18757,0.554566,6.484727,20.232697,35.579456,0.798932,0.459606,19.956694,15.933323
69,2673.672921,4.253406,0.076896,7.653004,0.037150,7.448687,40.795189,6.359690,0.299214,0.924350,...,10536,18588,0.428888,3.261984,15.139326,20.636726,0.557649,0.404116,11.824315,47.746995
70,551.778808,9.977708,0.075195,6.638329,0.018018,6.080244,52.258509,4.223122,1.449856,0.673657,...,5092,6673,1.117133,4.423836,24.288501,27.917586,0.424895,0.199479,21.520892,20.107680
71,4188.643450,1.576180,0.148265,6.420273,0.028926,8.365215,65.532054,5.374877,0.190993,0.765839,...,14208,35136,0.759848,7.166901,14.004037,39.664112,0.305394,0.273807,23.482259,14.343641

### Se importa la función outliers_iqr desde el script outlier

In [12]:
import sys
sys.path.append('datos/notebook/')
from outliers import outliers_iqr

In [16]:
outliers_st = outliers_iqr(usos_numericos)

In [17]:
outliers_st

,TA,LPI,AREA_MN,AREA_AM,AREA_MD,GYRATE_MN,GYRATE_AM,GYRATE_MD,PRD,SHDI,...,T_Viv_Sec,Viv_vacias,COM,ED_SING,EQUIP,IND,OCIO,OFI,RES_PLU,RES_UNI
0,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,...,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico
1,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,...,tipico,tipico,tipico,tipico,tipico,tipico,tipico,atipico,tipico,tipico
2,tipico,tipico,atipico,tipico,atipico,atipico,tipico,atipico,tipico,tipico,...,tipico,tipico,tipico,tipico,tipico,tipico,tipico,atipico,tipico,tipico
3,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,...,tipico,tipico,tipico,tipico,atipico,tipico,tipico,tipico,tipico,tipico
4,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,atipico,...,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,...,atipico,atipico,tipico,tipico,tipico,tipico,tipico,tipico,atipico,tipico
68,tipico,tipico,tipico,atipico,tipico,tipico,tipico,tipico,tipico,tipico,...,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico
69,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,...,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico
70,tipico,atipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,...,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico
71,atipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,...,tipico,atipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico

Se agrega la columna ciudades al dataframe outliers_st

In [18]:
outliers_st = outliers_st.set_index(usos_wide["Ciudades"])

In [19]:
outliers_st

,TA,LPI,AREA_MN,AREA_AM,AREA_MD,GYRATE_MN,GYRATE_AM,GYRATE_MD,PRD,SHDI,...,T_Viv_Sec,Viv_vacias,COM,ED_SING,EQUIP,IND,OCIO,OFI,RES_PLU,RES_UNI
Ciudades,,,,,,,,,,,,,,,,,,,,,
Albacete,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,...,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico
Alcalá de Henares,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,...,tipico,tipico,tipico,tipico,tipico,tipico,tipico,atipico,tipico,tipico
Alcobendas,tipico,tipico,atipico,tipico,atipico,atipico,tipico,atipico,tipico,tipico,...,tipico,tipico,tipico,tipico,tipico,tipico,tipico,atipico,tipico,tipico
Alcorcón,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,...,tipico,tipico,tipico,tipico,atipico,tipico,tipico,tipico,tipico,tipico
Algeciras,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,atipico,...,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Valencia,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,...,atipico,atipico,tipico,tipico,tipico,tipico,tipico,tipico,atipico,tipico
Valladolid,tipico,tipico,tipico,atipico,tipico,tipico,tipico,tipico,tipico,tipico,...,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico
Vigo,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,...,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico
Zamora,tipico,atipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,...,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico
Zaragoza,atipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,...,tipico,atipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico,tipico

In [20]:
def count_outliers(df):
    
    """ Esta función cuenta el número de outliers para cada columna

    Returns:
        _type_: Devuelve un dataframe 
    """
    counts = df.apply(lambda column: (column == 'atipico').sum())
    return pd.DataFrame({'Outliers_Count': counts})

In [21]:
outliers_count_df = count_outliers(outliers_st)

outliers_count_df

             Outliers_Count
TA                        4
LPI                       7
AREA_MN                   3
AREA_AM                   9
AREA_MD                   2
GYRATE_MN                 1
GYRATE_AM                 5
GYRATE_MD                 2
PRD                       1
SHDI                      7
SIDI                      5
MSIDI                     4
SHEI                      2
SIEI                      5
MSIEI                     4
NP                        5
DIVISION                  8
SPLIT                     4
MESH                      6
PAFRAC                    5
SHAPE_MN                  6
SHAPE_MD                  7
PARA_MN                   2
PARA_MD                   0
FRAC_MN                   7
FRAC_MD                   4
SQUARE_MN                15
SQUARE_MD                 8
IJI                       0
LSI                       2
TE                        5
ED                        2
RNMDP_2020                3
PobT                      8
PobH                      8
PobM                      8
Vehiculos                 8
T_Viviendas               6
T_Viv_Prin                7
T_Viv_Sec                 7
Viv_vacias                6
COM                       0
ED_SING                   4
EQUIP                     2
IND                       2
OCIO                      6
OFI                       6
RES_PLU                   4
RES_UNI                   1

In [22]:
outliers_st = outliers_st.reset_index()

Buscamos un procedimiento para agrupar cuales son las ciudades que son outliers en cada caracteristicas, para saber el número, y cuáles son.

In [23]:
# Se crea un diccionario vacío
outliers_cases = {}

# Se itera sobre cada columna
for column in outliers_st.columns:
    # expresion para crear una lista de los elementos ciudades que cumplen la condición de ser un dato atipico
    outliers_cases[column] = list(outliers_st[outliers_st[column] == 'atipico']['Ciudades'])

print(outliers_cases)

{'Ciudades': [], 'TA': ['Barcelona', 'Córdoba', 'Marbella', 'Zaragoza'], 'LPI': ['Cáceres', 'Leganes', 'Parla', 'Santa Coloma de Gramenet', 'Toledo', 'Torrejón de Ardoz', 'Zamora'], 'AREA_MN': ['Alcobendas', 'Toledo', 'Torrejón de Ardoz'], 'AREA_AM': ['Cáceres', 'Cartagena', 'Dos Hermanas', 'Jerez de la Frontera', 'Leganes', 'Parla', 'Toledo', 'Torrejón de Ardoz', 'Valladolid'], 'AREA_MD': ['Alcobendas', 'Marbella'], 'GYRATE_MN': ['Alcobendas'], 'GYRATE_AM': ['Cáceres', 'Leganes', 'Parla', 'Toledo', 'Torrejón de Ardoz'], 'GYRATE_MD': ['Alcobendas', 'Marbella'], 'PRD': ['Santa Coloma de Gramenet'], 'SHDI': ['Algeciras', 'Badajoz', 'Burgos', 'Córdoba', 'Marbella', 'Ourense', 'Torrejón de Ardoz'], 'SIDI': ['Algeciras', 'Badajoz', 'Córdoba', 'Ourense', 'Torrejón de Ardoz'], 'MSIDI': ['Algeciras', 'Badajoz', 'Ourense', 'Torrejón de Ardoz'], 'SHEI': ['Badajoz', 'Torrejón de Ardoz'], 'SIEI': ['Algeciras', 'Badajoz', 'Córdoba', 'Ourense', 'Torrejón de Ardoz'], 'MSIEI': ['Algeciras', 'Badajoz', 'Ourense', 'Torrejón de Ardoz'], 'NP': ['Barcelona', 'Madrid', 'Málaga', 'Murcia', 'Sevilla'], 'DIVISION': ['Cáceres', 'Huelva', 'Leganes', 'Parla', 'Santa Coloma de Gramenet', 'Toledo', 'Torrejón de Ardoz', 'Zamora'], 'SPLIT': ['Barcelona', 'Córdoba', 'Málaga', 'San Cristóbal de La Laguna'], 'MESH': ['Cáceres', 'Leganes', 'Madrid', 'Parla', 'Toledo', 'Torrejón de Ardoz'], 'PAFRAC': ['Ceuta', 'Lugo', 'Ourense', 'Pontevedra', 'Vigo'], 'SHAPE_MN': ['Badalona', 'Lugo', 'Mataró', 'Melilla', 'Sabadell', 'Terrassa'], 'SHAPE_MD': ['Badalona', 'Lugo', 'Mataró', 'Melilla', 'Parla', 'Sabadell', 'Terrassa'], 'PARA_MN': ['Ceuta', 'Sevilla'], 'PARA_MD': [], 'FRAC_MN': ['Madrid', 'Mataró', 'Oviedo', 'Palencia', 'Sabadell', 'Terrassa', 'Valladolid'], 'FRAC_MD': ['Badalona', 'Mataró', 'Sabadell', 'Terrassa'], 'SQUARE_MN': ['Alcobendas', 'Badalona', 'Coruña, A', 'Elche/Elx', 'Jerez de la Frontera', 'Madrid', 'Marbella', 'Mataró', 'Murcia', 'Parla', 'Sabadell', 'Sevilla', 'Terrassa', 'Toledo', 'Zaragoza'], 'SQUARE_MD': ['Badalona', "Hospitalet de Llobregat, L'", 'Lugo', 'Mataró', 'Melilla', 'Parla', 'Sabadell', 'Terrassa'], 'IJI': [], 'LSI': ['Barcelona', 'Madrid'], 'TE': ['Barcelona', 'Madrid', 'Málaga', 'Murcia', 'Sevilla'], 'ED': ['Santa Coloma de Gramenet', 'Torrejón de Ardoz'], 'RNMDP_2020': ['Alcobendas', 'Barcelona', 'Madrid'], 'PobT': ['Barcelona', 'Madrid', 'Málaga', 'Murcia', 'Palma de Mallorca', 'Sevilla', 'Valencia', 'Zaragoza'], 'PobH': ['Barcelona', 'Madrid', 'Málaga', 'Murcia', 'Palma de Mallorca', 'Sevilla', 'Valencia', 'Zaragoza'], 'PobM': ['Barcelona', 'Madrid', 'Málaga', 'Murcia', 'Palma de Mallorca', 'Sevilla', 'Valencia', 'Zaragoza'], 'Vehiculos': ['Barcelona', 'Madrid', 'Málaga', 'Murcia', 'Palma de Mallorca', 'Sevilla', 'Valencia', 'Zaragoza'], 'T_Viviendas': ['Barcelona', 'Madrid', 'Málaga', 'Sevilla', 'Valencia', 'Zaragoza'], 'T_Viv_Prin': ['Barcelona', 'Madrid', 'Málaga', 'Palma de Mallorca', 'Sevilla', 'Valencia', 'Zaragoza'], 'T_Viv_Sec': ['Alicante/Alacant', 'Barcelona', 'Cartagena', 'Madrid', 'Marbella', 'Sevilla', 'Valencia'], 'Viv_vacias': ['Barcelona', 'Madrid', 'Murcia', 'Sevilla', 'Valencia', 'Zaragoza'], 'COM': [], 'ED_SING': ['Ceuta', 'Leganes', 'Melilla', 'Torrejón de Ardoz'], 'EQUIP': ['Alcorcón', 'Ciudad Real'], 'IND': ['Burgos', 'Fuenlabrada'], 'OCIO': ['Alicante/Alacant', 'Guadalajara', 'Marbella', 'Mataró', 'Palma de Mallorca', 'Segovia'], 'OFI': ['Alcalá de Henares', 'Alcobendas', 'Barcelona', 'Madrid', 'Parla', 'Tarragona'], 'RES_PLU': ['Barcelona', 'Cádiz', 'Santa Coloma de Gramenet', 'Valencia'], 'RES_UNI': ['Badajoz']}

In [24]:
for variable, ciudades in outliers_cases.items():
    print(f"Atipicos for {variable}: {ciudades}")

Atipicos for Ciudades: []
Atipicos for TA: ['Barcelona', 'Córdoba', 'Marbella', 'Zaragoza']
Atipicos for LPI: ['Cáceres', 'Leganes', 'Parla', 'Santa Coloma de Gramenet', 'Toledo', 'Torrejón de Ardoz', 'Zamora']
Atipicos for AREA_MN: ['Alcobendas', 'Toledo', 'Torrejón de Ardoz']
Atipicos for AREA_AM: ['Cáceres', 'Cartagena', 'Dos Hermanas', 'Jerez de la Frontera', 'Leganes', 'Parla', 'Toledo', 'Torrejón de Ardoz', 'Valladolid']
Atipicos for AREA_MD: ['Alcobendas', 'Marbella']
Atipicos for GYRATE_MN: ['Alcobendas']
Atipicos for GYRATE_AM: ['Cáceres', 'Leganes', 'Parla', 'Toledo', 'Torrejón de Ardoz']
Atipicos for GYRATE_MD: ['Alcobendas', 'Marbella']
Atipicos for PRD: ['Santa Coloma de Gramenet']
Atipicos for SHDI: ['Algeciras', 'Badajoz', 'Burgos', 'Córdoba', 'Marbella', 'Ourense', 'Torrejón de Ardoz']
Atipicos for SIDI: ['Algeciras', 'Badajoz', 'Córdoba', 'Ourense', 'Torrejón de Ardoz']
Atipicos for MSIDI: ['Algeciras', 'Badajoz', 'Ourense', 'Torrejón de Ardoz']
Atipicos for SHEI: ['Badajoz', 'Torrejón de Ardoz']
Atipicos for SIEI: ['Algeciras', 'Badajoz', 'Córdoba', 'Ourense', 'Torrejón de Ardoz']
Atipicos for MSIEI: ['Algeciras', 'Badajoz', 'Ourense', 'Torrejón de Ardoz']
Atipicos for NP: ['Barcelona', 'Madrid', 'Málaga', 'Murcia', 'Sevilla']
Atipicos for DIVISION: ['Cáceres', 'Huelva', 'Leganes', 'Parla', 'Santa Coloma de Gramenet', 'Toledo', 'Torrejón de Ardoz', 'Zamora']
Atipicos for SPLIT: ['Barcelona', 'Córdoba', 'Málaga', 'San Cristóbal de La Laguna']
Atipicos for MESH: ['Cáceres', 'Leganes', 'Madrid', 'Parla', 'Toledo', 'Torrejón de Ardoz']
Atipicos for PAFRAC: ['Ceuta', 'Lugo', 'Ourense', 'Pontevedra', 'Vigo']
Atipicos for SHAPE_MN: ['Badalona', 'Lugo', 'Mataró', 'Melilla', 'Sabadell', 'Terrassa']
Atipicos for SHAPE_MD: ['Badalona', 'Lugo', 'Mataró', 'Melilla', 'Parla', 'Sabadell', 'Terrassa']
Atipicos for PARA_MN: ['Ceuta', 'Sevilla']
Atipicos for PARA_MD: []
Atipicos for FRAC_MN: ['Madrid', 'Mataró', 'Oviedo', 'Palencia', 'Sabadell', 'Terrassa', 'Valladolid']
Atipicos for FRAC_MD: ['Badalona', 'Mataró', 'Sabadell', 'Terrassa']
Atipicos for SQUARE_MN: ['Alcobendas', 'Badalona', 'Coruña, A', 'Elche/Elx', 'Jerez de la Frontera', 'Madrid', 'Marbella', 'Mataró', 'Murcia', 'Parla', 'Sabadell', 'Sevilla', 'Terrassa', 'Toledo', 'Zaragoza']
Atipicos for SQUARE_MD: ['Badalona', "Hospitalet de Llobregat, L'", 'Lugo', 'Mataró', 'Melilla', 'Parla', 'Sabadell', 'Terrassa']
Atipicos for IJI: []
Atipicos for LSI: ['Barcelona', 'Madrid']
Atipicos for TE: ['Barcelona', 'Madrid', 'Málaga', 'Murcia', 'Sevilla']
Atipicos for ED: ['Santa Coloma de Gramenet', 'Torrejón de Ardoz']
Atipicos for RNMDP_2020: ['Alcobendas', 'Barcelona', 'Madrid']
Atipicos for PobT: ['Barcelona', 'Madrid', 'Málaga', 'Murcia', 'Palma de Mallorca', 'Sevilla', 'Valencia', 'Zaragoza']
Atipicos for PobH: ['Barcelona', 'Madrid', 'Málaga', 'Murcia', 'Palma de Mallorca', 'Sevilla', 'Valencia', 'Zaragoza']
Atipicos for PobM: ['Barcelona', 'Madrid', 'Málaga', 'Murcia', 'Palma de Mallorca', 'Sevilla', 'Valencia', 'Zaragoza']
Atipicos for Vehiculos: ['Barcelona', 'Madrid', 'Málaga', 'Murcia', 'Palma de Mallorca', 'Sevilla', 'Valencia', 'Zaragoza']
Atipicos for T_Viviendas: ['Barcelona', 'Madrid', 'Málaga', 'Sevilla', 'Valencia', 'Zaragoza']
Atipicos for T_Viv_Prin: ['Barcelona', 'Madrid', 'Málaga', 'Palma de Mallorca', 'Sevilla', 'Valencia', 'Zaragoza']
Atipicos for T_Viv_Sec: ['Alicante/Alacant', 'Barcelona', 'Cartagena', 'Madrid', 'Marbella', 'Sevilla', 'Valencia']
Atipicos for Viv_vacias: ['Barcelona', 'Madrid', 'Murcia', 'Sevilla', 'Valencia', 'Zaragoza']
Atipicos for COM: []
Atipicos for ED_SING: ['Ceuta', 'Leganes', 'Melilla', 'Torrejón de Ardoz']
Atipicos for EQUIP: ['Alcorcón', 'Ciudad Real']
Atipicos for IND: ['Burgos', 'Fuenlabrada']
Atipicos for OCIO: ['Alicante/Alacant', 'Guadalajara', 'Marbella', 'Mataró', 'Palma de Mallorca', 'Segovia']
Atipicos for OFI: ['Alcalá de Henares', 'Alcobendas', 'Barcelona', 'Madrid', 'Parla', 'Tarragona']
Atipicos for RES_PLU: ['Barcelona', 'Cádiz', 'Santa Coloma de Gramenet', 'Valencia']
Atipicos for RES_UNI: ['Badajoz']