In [1]:
# importamos librerias

import pandas as pd
import re 
import os

In [3]:

print(os.getcwd())

d:\Respaldo toshiba\projectos\manifolds\ciudades\datos\socioeconomicos

Cargamos datos socioecónomicos en formato excel a nivel de municipio descargado de ?

In [4]:
df_municipios = pd.read_excel('DatosMunicipales2020.xlsx', sheet_name=0, dtype ={"Código INE":str})

In [5]:
df_municipios.head()

,Código INE,Municipio,Provincia,Comunidad Autónoma,Población Total,Población Hombres,Población Mujeres,Unnamed: 7,Conductores Hombres,Conductoras Mujeres,...,Alcohol (6 puntos),Drogas (6 puntos),"Casco, Cinturón, SRI (3 puntos)",Móvil (3 puntos),Semáforo (4 puntos),Otra (3 puntos),Otra (4 puntos),Otra (6 puntos),Unnamed: 95,Campañas
0,01001,Alava ( municipio sin especificar),Araba/Álava,País Vasco,NaN,NaN,NaN,NaN,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1,01002,Alegría-Dulantzi,Araba/Álava,País Vasco,2935.0,1531.0,1404.0,NaN,1038.0,818.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2,01003,Amurrio,Araba/Álava,País Vasco,10264.0,5044.0,5220.0,NaN,3664.0,2660.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3,01004,Aramaio,Araba/Álava,País Vasco,1442.0,748.0,694.0,NaN,566.0,425.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
4,01006,Artziniega,Araba/Álava,País Vasco,1800.0,892.0,908.0,NaN,630.0,490.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

Por el momento nos interesa guardar el Municipio y su código INE

In [6]:
df_municipios_small = df_municipios.iloc[:,0:2].reset_index()

In [9]:
df_municipios_small

      index Código INE                           Municipio
0         0      01001  Alava ( municipio sin especificar)
1         1      01002                    Alegría-Dulantzi
2         2      01003                             Amurrio
3         3      01004                             Aramaio
4         4      01006                          Artziniega
...     ...        ...                                 ...
8191   8191      50901                                Biel
8192   8192      50902                            Marracos
8193   8193      50903               Villamayor de Gállego
8194   8194      51001                               Ceuta
8195   8195      52001                             Melilla

[8196 rows x 3 columns]

Paralelamente tenemos los datos en csv de las métricas calculadas usando datos vectoriales con el software ZZZ. Los resultados fueron guardados en ficheros csv, uno para cada dimensión (diversidad, división, forma, área)

In [7]:
df_ciudades = pd.read_csv(r"D:\Respaldo toshiba\projectos\manifolds\ciudades\datos\metricas\ciudades_diversidad.csv", index_col = [0])

In [8]:
df_ciudades.head(10)

,PR,PRD,SHDI,SIDI,MSIDI,SHEI,SIEI,MSIEI,IEI,index
0,8,0.498351,0.723601,0.755052,1.406710,0.745706,0.862917,0.676484,0.0,Albacete.txt
1,8,0.495263,0.769670,0.746116,1.370878,0.771443,0.852704,0.659253,0.0,Alcala.txt
2,8,0.495263,0.769670,0.746116,1.370878,0.771443,0.852704,0.659253,0.0,Alcobendas.txt
3,8,1.016461,0.714969,0.757634,1.417307,0.751111,0.865868,0.681581,0.0,Alcorcon.txt
4,8,0.752361,1.209382,0.625019,0.980880,0.626374,0.714308,0.471704,0.0,Algeciras.txt
5,8,0.302543,0.758450,0.742545,1.356912,0.741693,0.848623,0.652537,0.0,Alicante.txt
6,8,0.655187,0.713636,0.759126,1.423480,0.762750,0.867572,0.684549,0.0,Almeria.txt
7,9,0.747920,7.128600,0.216069,0.243434,0.236178,0.243077,0.110792,0.0,Avila.txt
8,8,0.325322,1.675347,0.541120,0.778966,0.551175,0.618423,0.374603,0.0,Badajoz.txt
9,8,1.174438,0.667509,0.779475,1.511744,0.777582,0.890829,0.726995,0.0,Badalona.txt

Vamos a copiar la columna index a una columna llamada ciudades.

In [9]:
df_ciudades['ciudades'] = df_ciudades['index'].str.replace(r'\.txt$', '')

In [10]:
df_ciudades

,PR,PRD,SHDI,SIDI,MSIDI,SHEI,SIEI,MSIEI,IEI,index,ciudades
0,8,0.498351,0.723601,0.755052,1.406710,0.745706,0.862917,0.676484,0.0,Albacete.txt,Albacete.txt
1,8,0.495263,0.769670,0.746116,1.370878,0.771443,0.852704,0.659253,0.0,Alcala.txt,Alcala.txt
2,8,0.495263,0.769670,0.746116,1.370878,0.771443,0.852704,0.659253,0.0,Alcobendas.txt,Alcobendas.txt
3,8,1.016461,0.714969,0.757634,1.417307,0.751111,0.865868,0.681581,0.0,Alcorcon.txt,Alcorcon.txt
4,8,0.752361,1.209382,0.625019,0.980880,0.626374,0.714308,0.471704,0.0,Algeciras.txt,Algeciras.txt
...,...,...,...,...,...,...,...,...,...,...,...
67,8,0.369649,0.871006,0.710258,1.238763,0.723575,0.811723,0.595719,0.0,Valencia.txt,Valencia.txt
68,8,0.289363,0.708775,0.762939,1.439438,0.757313,0.871930,0.692223,0.0,Valladolid.txt,Valladolid.txt
69,8,0.299214,0.924350,0.691404,1.175722,0.674770,0.790176,0.565403,0.0,Vigo.txt,Vigo.txt
70,8,1.449856,0.673657,0.774217,1.488181,0.758289,0.884820,0.715664,0.0,Zamora.txt,Zamora.txt
71,8,0.190993,0.765839,0.742138,1.355330,0.731288,0.848158,0.651776,0.0,Zaragoza.txt,Zaragoza.txt

reemplazamos el caracter _ por un espacio en el nombre de las ciudades

In [11]:
df_ciudades['ciudades'] = df_ciudades['ciudades'].str.replace('_', ' ')

A continuación eliminamos .txt

In [12]:

df_ciudades['ciudades'] = df_ciudades['ciudades'].str.replace('.txt', '')

Finalmente, capitalizamos el nombre de cada ciudad

In [15]:
df_ciudades['ciudades'] = df_ciudades['ciudades'].apply(lambda x: x.capitalize())

Creamos un diccionario con clave igual al nombre incorrecto que puede encontrarse en el archivo csv,  que deriva del nombre del fichero original. El valor del diccionario es el nombre correcto, para poder reemplazar esto en cada columna.

In [16]:
rep = {'Avila':'Ávila','Alicante':'Alicante/Alacant','Alcorcon':'Alcorcón', 'Almeria':'Almería','Alcala':'Alcalá de Henares', 'Cadiz':'Cádiz','Caceres':'Cáceres', 'Cordoba':'Córdoba','Castello': 'Castelló de la Plana', 'Ciudad real':'Ciudad Real','Bodajoz':'Badajoz','Dos hermanas':'Dos Hermanas','Fuentelabra':'Fuenlabrada',
'Leganes':'Leganés','Logronio':'Logroño','Mataro':'Mataró','Mostoles':'Móstoles','Santa coloma':'Santa Coloma de Gramenet','Santa cruz tenerife':'Santa Cruz de Tenerife','Jaen':'Jaén','Jerez':'Jerez de la Frontera','Leon':'León','Malaga':'Málaga',
'San cristobal':'San Cristóbal de La Laguna','Terrasa':'Terrassa','Terragona':'Tarragona','Torrejon':'Torrejón de Ardoz','Corunia':'Coruña, A','Gijon':'Gijón',
'Palma':'Palma de Mallorca','Las palma':'Palmas de Gran Canaria, Las', 'Elche': 'Elche/Elx', 'Hospitalet':"Hospitalet de Llobregat, L'"}

Se define la función replacement_cities para reemplazar de forma iterativa el nombre incorrecto por el nombre correcto definido en el diccionario

In [17]:
def replace_cities(df, replacements):
    for city, replacement in replacements.items():
        df['ciudades'] = df['ciudades'].str.replace(city, replacement)
    return df

Se define un nuevo dataframe con los valores en la columna ciudades reemplazados, se conserva el antiguo como columna index

In [18]:
df = replace_cities(df_ciudades, rep)

In [19]:
df

,PR,PRD,SHDI,SIDI,MSIDI,SHEI,SIEI,MSIEI,IEI,index,ciudades
0,8,0.498351,0.723601,0.755052,1.406710,0.745706,0.862917,0.676484,0.0,Albacete.txt,Albacete
1,8,0.495263,0.769670,0.746116,1.370878,0.771443,0.852704,0.659253,0.0,Alcala.txt,Alcalá de Henares
2,8,0.495263,0.769670,0.746116,1.370878,0.771443,0.852704,0.659253,0.0,Alcobendas.txt,Alcobendas
3,8,1.016461,0.714969,0.757634,1.417307,0.751111,0.865868,0.681581,0.0,Alcorcon.txt,Alcorcón
4,8,0.752361,1.209382,0.625019,0.980880,0.626374,0.714308,0.471704,0.0,Algeciras.txt,Algeciras
...,...,...,...,...,...,...,...,...,...,...,...
67,8,0.369649,0.871006,0.710258,1.238763,0.723575,0.811723,0.595719,0.0,Valencia.txt,Valencia
68,8,0.289363,0.708775,0.762939,1.439438,0.757313,0.871930,0.692223,0.0,Valladolid.txt,Valladolid
69,8,0.299214,0.924350,0.691404,1.175722,0.674770,0.790176,0.565403,0.0,Vigo.txt,Vigo
70,8,1.449856,0.673657,0.774217,1.488181,0.758289,0.884820,0.715664,0.0,Zamora.txt,Zamora
71,8,0.190993,0.765839,0.742138,1.355330,0.731288,0.848158,0.651776,0.0,Zaragoza.txt,Zaragoza

Hacemos cambios adicionales p

In [20]:
df_ciudades['ciudades'] = df['ciudades'].str.replace('Palmas de Gran Canaria, Lass', 'Palmas de Gran Canaria, Las')

Creamos una serie con la columna nombre ciudades

In [21]:
nombre_ciudades = df_ciudades.ciudades

In [23]:
nombre_ciudades.head(5)

0             Albacete
1    Alcalá de Henares
2           Alcobendas
3             Alcorcón
4            Algeciras
Name: ciudades, dtype: object

Verificamos que el nombre de cada ciudad corresponde al nombre oficial

In [24]:
print(len(nombre_ciudades))
for ciudades in nombre_ciudades:
    print(ciudades)

72
Albacete
Alcalá de Henares
Alcobendas
Alcorcón
Algeciras
Alicante/Alacant
Almería
Ávila
Badajoz
Badalona
Barcelona
Burgos
Cáceres
Cádiz
Cartagena
Castella
Ceuta
Ciudad Real
Córdoba
Coruña, A
Cuenca
Dos Hermanas
Elche/Elx
Fuenlabrada
Getafe
Gijón
Girona
Granada
Guadalajara
Hospitalet de Llobregat, L'
Huelva
Huesca
Jaén
Jerez de la Frontera
Laganes
Palmas de Gran Canaria, Las
León
Lleida
Logroño
Lugo
Madrid
Málaga
Marbella
Mataró
Melilla
Móstoles
Murcia
Ourense
Oviedo
Palencia
Palma de Mallorca
Parla
Pontevedra
Sabadell
Salamanca
Santander
Santa Coloma de Gramenet
Santa cruz
San Cristóbal de La Laguna
Segovia
Sevilla
Soria
Tarragona
Terrassa
Teruel
Toledo
Torrejón de Ardoz
Valencia
Valladolid
Vigo
Zamora
Zaragoza

In [36]:
# buscar los nombres de ciudades en la columna "municipios"
nombre_dic = {}
saltar =  'municipio sin especificar'
for ciudad in nombre_ciudades:
   filtro_exacto = df_municipios['Municipio'] == ciudad
   filtro_relativo = df_municipios['Municipio'].str.contains(ciudad, regex=True)
    mun = df_municipios.loc[filtro, 'Municipio'].iloc[0]
   if filtro_exacto.any():
        temp = df_municipios.loc[filtro_exacto, 'Municipio'].iloc[0]
        if temp == None:
            nombre_dic[ciudad] = df_municipios.loc[filtro_relativo, 'Municipio'].iloc[0]
        else: 
            nombre_dic[ciudad] = temp
    else:
        # si no se encuentra ninguna coincidencia, agregar un valor nulo
        nombre_dic[ciudad] = None

IndentationError: unindent does not match any outer indentation level (<string>, line 14)

In [29]:
df_municipios

,Código INE,Municipio,Provincia,Comunidad Autónoma,Población Total,Población Hombres,Población Mujeres,Unnamed: 7,Conductores Hombres,Conductoras Mujeres,...,Alcohol (6 puntos),Drogas (6 puntos),"Casco, Cinturón, SRI (3 puntos)",Móvil (3 puntos),Semáforo (4 puntos),Otra (3 puntos),Otra (4 puntos),Otra (6 puntos),Unnamed: 95,Campañas
0,01001,Alava ( municipio sin especificar),Araba/Álava,País Vasco,NaN,NaN,NaN,NaN,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1,01002,Alegría-Dulantzi,Araba/Álava,País Vasco,2935.0,1531.0,1404.0,NaN,1038.0,818.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2,01003,Amurrio,Araba/Álava,País Vasco,10264.0,5044.0,5220.0,NaN,3664.0,2660.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3,01004,Aramaio,Araba/Álava,País Vasco,1442.0,748.0,694.0,NaN,566.0,425.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
4,01006,Artziniega,Araba/Álava,País Vasco,1800.0,892.0,908.0,NaN,630.0,490.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8191,50901,Biel,Zaragoza,Aragón,155.0,97.0,58.0,NaN,39.0,15.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8192,50902,Marracos,Zaragoza,Aragón,84.0,46.0,38.0,NaN,20.0,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8193,50903,Villamayor de Gállego,Zaragoza,Aragón,2745.0,1375.0,1370.0,NaN,627.0,430.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8194,51001,Ceuta,Ceuta,Ceuta,84202.0,42542.0,41660.0,NaN,25274.0,16376.0,...,10.0,NaN,118.0,378.0,34.0,51.0,88.0,51.0,NaN,NaN
8195,52001,Melilla,Melilla,Melilla,87076.0,44162.0,42914.0,NaN,26521.0,18053.0,...,3.0,NaN,221.0,NaN,66.0,843.0,149.0,82.0,NaN,NaN

In [28]:
df_municipios.Municipio.head()

0    Alava ( municipio sin especificar)
1                      Alegría-Dulantzi
2                               Amurrio
3                               Aramaio
4                            Artziniega
Name: Municipio, dtype: object

In [29]:
## Buscar los nombres de ciudades en la columna "Municipio"
nombre_dic = {}
saltar =  'municipio sin especificar'
for ciudad in nombre_ciudades:
    filtro_exacto = df_municipios['Municipio'] == ciudad
    filtro_relativo = df_municipios['Municipio'].str.contains(ciudad, regex=True)
    try:
        valor = df_municipios.loc[filtro_exacto, 'Municipio'].iloc[0]
        nombre_dic[ciudad] = valor
    except IndexError:
        mun = df_municipios.loc[filtro_relativo, 'Municipio'].iloc[0]
        if saltar in mun:
            pass # En este caso tendria que ser una funcion recursiva.
        else:
            nombre_dic[ciudad] = mun

IndexError: single positional indexer is out-of-bounds

In [33]:
len(nombre_dic)

NameError: name 'nombre_dic' is not defined

In [52]:
nombre_dic

{'Albacete': 'Albacete',
 'Alcalá de Henares': 'Alcalá de Henares',
 'Alcobendas': 'Alcobendas',
 'Alcorcón': 'Alcorcón',
 'Algeciras': 'Algeciras',
 'Alicante/Alacant': 'Alicante/Alacant',
 'Almería': 'Almería',
 'Ávila': 'Ávila',
 'Badajoz': 'Badajoz',
 'Badalona': 'Badalona',
 'Barcelona': 'Barcelona',
 'Burgos': 'Burgos',
 'Cáceres': 'Cáceres',
 'Cádiz': 'Cádiz',
 'Cartagena': 'Cartagena',
 'Castella': 'Castellanos de Zapardiel',
 'Ceuta': 'Ceuta',
 'Ciudad Real': 'Ciudad Real',
 'Córdoba': 'Córdoba',
 'Coruña, A': 'Coruña, A',
 'Cuenca': 'Cuenca',
 'Dos Hermanas': 'Dos Hermanas',
 'Elche/Elx': 'Elche/Elx',
 'Fuenlabrada': 'Fuenlabrada',
 'Getafe': 'Getafe',
 'Gijón': 'Gijón',
 'Girona': 'Girona',
 'Granada': 'Granada',
 'Guadalajara': 'Guadalajara',
 "Hospitalet de Llobregat, L'": "Hospitalet de Llobregat, L'",
 'Huelva': 'Huelva',
 'Huesca': 'Huesca',
 'Jaén': 'Jaén',
 'Jerez de la Frontera': 'Jerez de la Frontera'}

In [37]:
len(nombre_ciudades)

72

In [38]:
## Buscar los nombres de ciudades en la columna "municipios"
codigos_dic = {}
saltar =  'municipio sin especificar'
for ciudad in nombre_ciudades:
    filtro_exacto = df_municipios['Municipio'] == ciudad
    filtro_relativo = df_municipios['Municipio'].str.contains(ciudad, regex=True)
    try:
        print(f"intentamos con {ciudad}")
        valor = df_municipios.loc[filtro_exacto, 'Municipio'].iloc[0]
        print(f"Asignaremos el codigo de {valor}")
        codigos_dic[ciudad] = df_municipios.loc[filtro_exacto, 'Código INE'].iloc[0]
    except IndexError:
        mun = df_municipios.loc[filtro_relativo, 'Código INE'].iloc[0]
        nombre = df_municipios.loc[filtro_relativo, 'Municipio'].iloc[0]
        codigos_dic[ciudad] = mun
        print(f"asigneremos {mun} que corresponde a {nombre}, porque ha fallado {ciudad} en el try")

intentamos con Albacete
Asignaremos el codigo de Albacete
intentamos con Alcalá de Henares
Asignaremos el codigo de Alcalá de Henares
intentamos con Alcobendas
Asignaremos el codigo de Alcobendas
intentamos con Alcorcón
Asignaremos el codigo de Alcorcón
intentamos con Algeciras
Asignaremos el codigo de Algeciras
intentamos con Alicante/Alacant
Asignaremos el codigo de Alicante/Alacant
intentamos con Almería
Asignaremos el codigo de Almería
intentamos con Ávila
Asignaremos el codigo de Ávila
intentamos con Badajoz
Asignaremos el codigo de Badajoz
intentamos con Badalona
Asignaremos el codigo de Badalona
intentamos con Barcelona
Asignaremos el codigo de Barcelona
intentamos con Burgos
Asignaremos el codigo de Burgos
intentamos con Cáceres
Asignaremos el codigo de Cáceres
intentamos con Cádiz
Asignaremos el codigo de Cádiz
intentamos con Cartagena
Asignaremos el codigo de Cartagena
intentamos con Castella
asigneremos 05061 que corresponde a Castellanos de Zapardiel, porque ha fallado Castella en el try
intentamos con Ceuta
Asignaremos el codigo de Ceuta
intentamos con Ciudad Real
Asignaremos el codigo de Ciudad Real
intentamos con Córdoba
Asignaremos el codigo de Córdoba
intentamos con Coruña, A
Asignaremos el codigo de Coruña, A
intentamos con Cuenca
Asignaremos el codigo de Cuenca
intentamos con Dos Hermanas
Asignaremos el codigo de Dos Hermanas
intentamos con Elche/Elx
Asignaremos el codigo de Elche/Elx
intentamos con Fuenlabrada
Asignaremos el codigo de Fuenlabrada
intentamos con Getafe
Asignaremos el codigo de Getafe
intentamos con Gijón
Asignaremos el codigo de Gijón
intentamos con Girona
Asignaremos el codigo de Girona
intentamos con Granada
Asignaremos el codigo de Granada
intentamos con Guadalajara
Asignaremos el codigo de Guadalajara
intentamos con Hospitalet de Llobregat, L'
Asignaremos el codigo de Hospitalet de Llobregat, L'
intentamos con Huelva
Asignaremos el codigo de Huelva
intentamos con Huesca
Asignaremos el codigo de Huesca
intentamos con Jaén
Asignaremos el codigo de Jaén
intentamos con Jerez de la Frontera
Asignaremos el codigo de Jerez de la Frontera
intentamos con Laganes

IndexError: single positional indexer is out-of-bounds

In [40]:
## Buscar los nombres de ciudades en la columna "municipios"
codigos_dic = {}
saltar =  'municipio sin especificar'

for ciudad in nombre_ciudades:


    if ciudad == saltar:
        continue

    # filtro exacto

    filtro_exacto = df_municipios['Municipio'] == ciudad

    filtro_relativo = df_municipios['Municipio'].str.contains(ciudad, regex=True)

    try:
        print(f"intentamos con {ciudad}")

     # Buscamos coincidencia exacta

        valor = df_municipios.loc[filtro_exacto, 'Municipio'].iloc[0]
     
        print(f"Asignaremos el codigo de {valor}")

     # Asignamos el código INE a la ciudad

        codigos_dic[ciudad] = df_municipios.loc[filtro_exacto, 'Código INE'].iloc[0]


    except IndexError:
    # Si no se encuentra una coincidencia exacta, intentamos una coincidencia parcial
    
        try:
            mun = df_municipios.loc[filtro_relativo, 'Código INE'].iloc[0]
            nombre = df_municipios.loc[filtro_relativo, 'Municipio'].iloc[0]
            codigos_dic[ciudad] = mun
            print(f"asigneremos {mun} que corresponde a {nombre}, porque ha fallado {ciudad} en el try")

        except IndexError:
            # Si tampoco encontramos coincidencia parcial, mostramos un mensaje de error
            print(f"No se encontró una coincidencia para {ciudad} ni exacta ni relativa")
            codigos_dic[ciudad] = None  # O decide qué hacer si no se encuentra

intentamos con Albacete
Asignaremos el codigo de Albacete
intentamos con Alcalá de Henares
Asignaremos el codigo de Alcalá de Henares
intentamos con Alcobendas
Asignaremos el codigo de Alcobendas
intentamos con Alcorcón
Asignaremos el codigo de Alcorcón
intentamos con Algeciras
Asignaremos el codigo de Algeciras
intentamos con Alicante/Alacant
Asignaremos el codigo de Alicante/Alacant
intentamos con Almería
Asignaremos el codigo de Almería
intentamos con Ávila
Asignaremos el codigo de Ávila
intentamos con Badajoz
Asignaremos el codigo de Badajoz
intentamos con Badalona
Asignaremos el codigo de Badalona
intentamos con Barcelona
Asignaremos el codigo de Barcelona
intentamos con Burgos
Asignaremos el codigo de Burgos
intentamos con Cáceres
Asignaremos el codigo de Cáceres
intentamos con Cádiz
Asignaremos el codigo de Cádiz
intentamos con Cartagena
Asignaremos el codigo de Cartagena
intentamos con Castella
asigneremos 05061 que corresponde a Castellanos de Zapardiel, porque ha fallado Castella en el try
intentamos con Ceuta
Asignaremos el codigo de Ceuta
intentamos con Ciudad Real
Asignaremos el codigo de Ciudad Real
intentamos con Córdoba
Asignaremos el codigo de Córdoba
intentamos con Coruña, A
Asignaremos el codigo de Coruña, A
intentamos con Cuenca
Asignaremos el codigo de Cuenca
intentamos con Dos Hermanas
Asignaremos el codigo de Dos Hermanas
intentamos con Elche/Elx
Asignaremos el codigo de Elche/Elx
intentamos con Fuenlabrada
Asignaremos el codigo de Fuenlabrada
intentamos con Getafe
Asignaremos el codigo de Getafe
intentamos con Gijón
Asignaremos el codigo de Gijón
intentamos con Girona
Asignaremos el codigo de Girona
intentamos con Granada
Asignaremos el codigo de Granada
intentamos con Guadalajara
Asignaremos el codigo de Guadalajara
intentamos con Hospitalet de Llobregat, L'
Asignaremos el codigo de Hospitalet de Llobregat, L'
intentamos con Huelva
Asignaremos el codigo de Huelva
intentamos con Huesca
Asignaremos el codigo de Huesca
intentamos con Jaén
Asignaremos el codigo de Jaén
intentamos con Jerez de la Frontera
Asignaremos el codigo de Jerez de la Frontera
intentamos con Laganes
No se encontró una coincidencia para Laganes ni exacta ni relativa
intentamos con Palmas de Gran Canaria, Las
Asignaremos el codigo de Palmas de Gran Canaria, Las
intentamos con León
Asignaremos el codigo de León
intentamos con Lleida
Asignaremos el codigo de Lleida
intentamos con Logroño
Asignaremos el codigo de Logroño
intentamos con Lugo
Asignaremos el codigo de Lugo
intentamos con Madrid
Asignaremos el codigo de Madrid
intentamos con Málaga
Asignaremos el codigo de Málaga
intentamos con Marbella
Asignaremos el codigo de Marbella
intentamos con Mataró
Asignaremos el codigo de Mataró
intentamos con Melilla
Asignaremos el codigo de Melilla
intentamos con Móstoles
Asignaremos el codigo de Móstoles
intentamos con Murcia
Asignaremos el codigo de Murcia
intentamos con Ourense
Asignaremos el codigo de Ourense
intentamos con Oviedo
Asignaremos el codigo de Oviedo
intentamos con Palencia
Asignaremos el codigo de Palencia
intentamos con Palma de Mallorca
Asignaremos el codigo de Palma de Mallorca
intentamos con Parla
Asignaremos el codigo de Parla
intentamos con Pontevedra
Asignaremos el codigo de Pontevedra
intentamos con Sabadell
Asignaremos el codigo de Sabadell
intentamos con Salamanca
Asignaremos el codigo de Salamanca
intentamos con Santander
Asignaremos el codigo de Santander
intentamos con Santa Coloma de Gramenet
Asignaremos el codigo de Santa Coloma de Gramenet
intentamos con Santa cruz
No se encontró una coincidencia para Santa cruz ni exacta ni relativa
intentamos con San Cristóbal de La Laguna
Asignaremos el codigo de San Cristóbal de La Laguna
intentamos con Segovia
Asignaremos el codigo de Segovia
intentamos con Sevilla
Asignaremos el codigo de Sevilla
intentamos con Soria
Asignaremos el codigo de Soria
intentamos con Tarragona
Asignaremos el codigo de Tarragona
intentamos con Terrassa
Asignaremos el codigo de Terrassa
intentamos con Teruel
Asignaremos el codigo de Teruel
intentamos con Toledo
Asignaremos el codigo de Toledo
intentamos con Torrejón de Ardoz
Asignaremos el codigo de Torrejón de Ardoz
intentamos con Valencia
Asignaremos el codigo de Valencia
intentamos con Valladolid
Asignaremos el codigo de Valladolid
intentamos con Vigo
Asignaremos el codigo de Vigo
intentamos con Zamora
Asignaremos el codigo de Zamora
intentamos con Zaragoza
Asignaremos el codigo de Zaragoza

In [41]:
len(codigos_dic)

72

In [42]:
codigos_dic

{'Albacete': '02005',
 'Alcalá de Henares': '28039',
 'Alcobendas': '28040',
 'Alcorcón': '28041',
 'Algeciras': '11021',
 'Alicante/Alacant': '03017',
 'Almería': '04017',
 'Ávila': '05025',
 'Badajoz': '06021',
 'Badalona': '08029',
 'Barcelona': '08033',
 'Burgos': '09075',
 'Cáceres': '10053',
 'Cádiz': '11029',
 'Cartagena': '31007',
 'Castella': '05061',
 'Ceuta': '51001',
 'Ciudad Real': '13053',
 'Córdoba': '14041',
 'Coruña, A': '15051',
 'Cuenca': '16102',
 'Dos Hermanas': '41094',
 'Elche/Elx': '03068',
 'Fuenlabrada': '28094',
 'Getafe': '28102',
 'Gijón': '33063',
 'Girona': '17102',
 'Granada': '18117',
 'Guadalajara': '19162',
 "Hospitalet de Llobregat, L'": '08115',
 'Huelva': '21068',
 'Huesca': '22167',
 'Jaén': '23081',
 'Jerez de la Frontera': '11037',
 'Laganes': None,
 'Palmas de Gran Canaria, Las': '36025',
 'León': '24120',
 'Lleida': '25153',
 'Logroño': '26124',
 'Lugo': '27062',
 'Madrid': '28117',
 'Málaga': '29903',
 'Marbella': '30001',
 'Mataró': '08135',
 'Melilla': '52001',
 'Móstoles': '28129',
 'Murcia': '31021',
 'Ourense': '32092',
 'Oviedo': '34006',
 'Palencia': '34171',
 'Palma de Mallorca': '07047',
 'Parla': '28141',
 'Pontevedra': '37022',
 'Sabadell': '08201',
 'Salamanca': '37324',
 'Santander': '40030',
 'Santa Coloma de Gramenet': '08259',
 'Santa cruz': None,
 'San Cristóbal de La Laguna': '39018',
 'Segovia': '41015',
 'Sevilla': '42044',
 'Soria': '43018',
 'Tarragona': '44022',
 'Terrassa': '08293',
 'Teruel': '45014',
 'Toledo': '46023',
 'Torrejón de Ardoz': '28182',
 'Valencia': '47045',
 'Valladolid': '48018',
 'Vigo': '37041',
 'Zamora': '50065',
 'Zaragoza': '50297'}

Transformamos el diccionario a un dataframe

In [49]:

codigos_INE = pd.DataFrame(codigos_dic, index = [0])

In [51]:
codigos_INE

,Albacete,Alcalá de Henares,Alcobendas,Alcorcón,Algeciras,Alicante/Alacant,Almería,Ávila,Badajoz,Badalona,...,Tarragona,Terrassa,Teruel,Toledo,Torrejón de Ardoz,Valencia,Valladolid,Vigo,Zamora,Zaragoza
0,02005,28039,28040,28041,11021,03017,04017,05025,06021,08029,...,44022,08293,45014,46023,28182,47045,48018,37041,50065,50297

Exportamos los datos

In [53]:
codigos_INE.to_csv('codigos_INE.csv', encoding = "ISO-8859-1")

Se transforman los datos de formato wide a long usando melt

In [54]:
codigos_INE_long = codigos_INE.melt(value_vars= codigos_INE.columns, var_name = "Ciudad", value_name = 'COD')

In [57]:
codigos_INE_long.head()

              Ciudad    COD
0           Albacete  02005
1  Alcalá de Henares  28039
2         Alcobendas  28040
3           Alcorcón  28041
4          Algeciras  11021

Exportamos el último dataframe

In [59]:
codigos_INE_long.to_csv('codigos_INE_long_final.csv', encoding = 'ISO-8859-1')

## PARTE II: Vinculamos el código INE de las ciudades utilizadas para seleecionar desde la información a nivel de municipio.

Se cargan los código INE desde el archivo generado

In [97]:
codigos_INE_long = pd.read_csv("codigos_INE_long_final.csv", encoding = 'ISO-8859-1', dtype ={"COD":str})

In [98]:
codigos_INE

,Albacete,Alcalá de Henares,Alcobendas,Alcorcón,Algeciras,Alicante/Alacant,Almería,Ávila,Badajoz,Badalona,...,Tarragona,Terrassa,Teruel,Toledo,Torrejón de Ardoz,Valencia,Valladolid,Vigo,Zamora,Zaragoza
0,02005,28039,28040,28041,11021,03017,04017,05025,06021,08029,...,44022,08293,45014,46023,28182,47045,48018,37041,50065,50297

In [99]:
codigos_INE_long.dtypes

Unnamed: 0     int64
Ciudad        object
COD           object
dtype: object

In [100]:
rows_to_filter = codigos_INE_long.COD
len(rows_to_filter)

72

In [101]:
rows_to_filter1 = codigos_INE_long.Ciudad
rows_to_filter1

0              Albacete
1     Alcalá de Henares
2            Alcobendas
3              Alcorcón
4             Algeciras
            ...
67             Valencia
68           Valladolid
69                 Vigo
70               Zamora
71             Zaragoza
Name: Ciudad, Length: 72, dtype: object

In [102]:
df_municipios = df_municipios.set_index('Código INE')

KeyError: "None of ['Código INE'] are in the columns"

In [103]:
df_municipios

,Municipio,Provincia,Comunidad Autónoma,Población Total,Población Hombres,Población Mujeres,Unnamed: 7,Conductores Hombres,Conductoras Mujeres,Censo Conductores,...,Alcohol (6 puntos),Drogas (6 puntos),"Casco, Cinturón, SRI (3 puntos)",Móvil (3 puntos),Semáforo (4 puntos),Otra (3 puntos),Otra (4 puntos),Otra (6 puntos),Unnamed: 95,Campañas
Código INE,,,,,,,,,,,,,,,,,,,,,
01001,Alava ( municipio sin especificar),Araba/Álava,País Vasco,NaN,NaN,NaN,NaN,1.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
01002,Alegría-Dulantzi,Araba/Álava,País Vasco,2935.0,1531.0,1404.0,NaN,1038.0,818.0,1856.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
01003,Amurrio,Araba/Álava,País Vasco,10264.0,5044.0,5220.0,NaN,3664.0,2660.0,6324.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
01004,Aramaio,Araba/Álava,País Vasco,1442.0,748.0,694.0,NaN,566.0,425.0,991.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
01006,Artziniega,Araba/Álava,País Vasco,1800.0,892.0,908.0,NaN,630.0,490.0,1120.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50901,Biel,Zaragoza,Aragón,155.0,97.0,58.0,NaN,39.0,15.0,54.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50902,Marracos,Zaragoza,Aragón,84.0,46.0,38.0,NaN,20.0,7.0,27.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50903,Villamayor de Gállego,Zaragoza,Aragón,2745.0,1375.0,1370.0,NaN,627.0,430.0,1057.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51001,Ceuta,Ceuta,Ceuta,84202.0,42542.0,41660.0,NaN,25274.0,16376.0,41650.0,...,10.0,NaN,118.0,378.0,34.0,51.0,88.0,51.0,NaN,NaN
52001,Melilla,Melilla,Melilla,87076.0,44162.0,42914.0,NaN,26521.0,18053.0,44574.0,...,3.0,NaN,221.0,NaN,66.0,843.0,149.0,82.0,NaN,NaN

Vamos a usar la serie rows_to_filter para filtrar el dataframe usando los índices
que contienen el código INE.

In [104]:
df_municipios.head(3)

,Municipio,Provincia,Comunidad Autónoma,Población Total,Población Hombres,Población Mujeres,Unnamed: 7,Conductores Hombres,Conductoras Mujeres,Censo Conductores,...,Alcohol (6 puntos),Drogas (6 puntos),"Casco, Cinturón, SRI (3 puntos)",Móvil (3 puntos),Semáforo (4 puntos),Otra (3 puntos),Otra (4 puntos),Otra (6 puntos),Unnamed: 95,Campañas
Código INE,,,,,,,,,,,,,,,,,,,,,
01001,Alava ( municipio sin especificar),Araba/Álava,País Vasco,NaN,NaN,NaN,NaN,1.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
01002,Alegría-Dulantzi,Araba/Álava,País Vasco,2935.0,1531.0,1404.0,NaN,1038.0,818.0,1856.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
01003,Amurrio,Araba/Álava,País Vasco,10264.0,5044.0,5220.0,NaN,3664.0,2660.0,6324.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [105]:
filtered_df = df_municipios.loc[df_municipios.index.isin(rows_to_filter)]

In [106]:
len(filtered_df.Municipio)

73

In [107]:
filtered_df

,Municipio,Provincia,Comunidad Autónoma,Población Total,Población Hombres,Población Mujeres,Unnamed: 7,Conductores Hombres,Conductoras Mujeres,Censo Conductores,...,Alcohol (6 puntos),Drogas (6 puntos),"Casco, Cinturón, SRI (3 puntos)",Móvil (3 puntos),Semáforo (4 puntos),Otra (3 puntos),Otra (4 puntos),Otra (6 puntos),Unnamed: 95,Campañas
Código INE,,,,,,,,,,,,,,,,,,,,,
02005,Albacete,Albacete,Castilla-La Mancha,174336.0,85214.0,89122.0,NaN,59160.0,45441.0,104601.0,...,58.0,NaN,302.0,NaN,94.0,337.0,46.0,33.0,NaN,0.0
03017,Alicante/Alacant,Alicante/Alacant,Comunitat Valenciana,337482.0,163385.0,174097.0,NaN,104997.0,80448.0,185445.0,...,109.0,NaN,295.0,1.0,254.0,27.0,120.0,180.0,NaN,0.0
03068,Elche/Elx,Alicante/Alacant,Comunitat Valenciana,234765.0,116386.0,118379.0,NaN,79269.0,60315.0,139584.0,...,113.0,NaN,199.0,NaN,295.0,386.0,134.0,345.0,NaN,0.0
04017,Almería,Almería,Andalucía,201322.0,98531.0,102791.0,NaN,65771.0,48869.0,114640.0,...,17.0,NaN,147.0,NaN,201.0,384.0,76.0,26.0,NaN,0.0
05025,Ávila,Ávila,Castilla y León,58369.0,27784.0,30585.0,NaN,20703.0,16973.0,37676.0,...,17.0,NaN,159.0,NaN,5.0,242.0,39.0,23.0,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51001,Santa Cruz de Moncayo,Zaragoza,Aragón,123.0,67.0,56.0,NaN,44.0,30.0,74.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0
52001,Santa Eulalia de Gállego,Zaragoza,Aragón,97.0,55.0,42.0,NaN,37.0,16.0,53.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0
50297,Zaragoza,Zaragoza,Aragón,681877.0,326103.0,355774.0,NaN,217389.0,148265.0,365654.0,...,146.0,NaN,189.0,NaN,908.0,1059.0,196.0,125.0,NaN,NaN
51001,Ceuta,Ceuta,Ceuta,84202.0,42542.0,41660.0,NaN,25274.0,16376.0,41650.0,...,10.0,NaN,118.0,378.0,34.0,51.0,88.0,51.0,NaN,NaN
52001,Melilla,Melilla,Melilla,87076.0,44162.0,42914.0,NaN,26521.0,18053.0,44574.0,...,3.0,NaN,221.0,NaN,66.0,843.0,149.0,82.0,NaN,NaN

Exportamos los datos socioecómicos para los municipios en estudio

In [108]:
filtered_df.to_csv('datos_municipios_filtered_Cod.csv', encoding = 'ISO-8859-1')

A Continuación filtramos por los nombres de la ciudades

In [112]:
filter_municipios = df_municipios.loc[df_municipios.Municipio.isin(rows_to_filter1)]

In [113]:
filter_municipios.head(2)

,Municipio,Provincia,Comunidad Autónoma,Población Total,Población Hombres,Población Mujeres,Unnamed: 7,Conductores Hombres,Conductoras Mujeres,Censo Conductores,...,Alcohol (6 puntos),Drogas (6 puntos),"Casco, Cinturón, SRI (3 puntos)",Móvil (3 puntos),Semáforo (4 puntos),Otra (3 puntos),Otra (4 puntos),Otra (6 puntos),Unnamed: 95,Campañas
Código INE,,,,,,,,,,,,,,,,,,,,,
02005,Albacete,Albacete,Castilla-La Mancha,174336.0,85214.0,89122.0,NaN,59160.0,45441.0,104601.0,...,58.0,NaN,302.0,NaN,94.0,337.0,46.0,33.0,NaN,0.0
03017,Alicante/Alacant,Alicante/Alacant,Comunitat Valenciana,337482.0,163385.0,174097.0,NaN,104997.0,80448.0,185445.0,...,109.0,NaN,295.0,1.0,254.0,27.0,120.0,180.0,NaN,0.0

Verificamos cuantos casos hubo coincidencia

In [116]:
len(filter_municipios.Municipio)

69

Se exporta el dataframe filtrado por los nombres, tres ciudades no han sido identificadas.

In [118]:
filter_municipios.to_csv('datos_municipios_filtered_ciudad.csv', encoding = 'ISO-8859-1')

### PARTE III. Vinculamos datos de población y vivienda desde el fichero 10mund00.xls

In [107]:
codigos_INE_long = pd.read_csv("codigos_INE_long_final.csv", encoding = 'ISO-8859-1', dtype ={"COD":str})

In [108]:
codigos_INE_long.dtypes

Unnamed: 0     int64
Ciudad        object
COD           object
dtype: object

In [109]:
rows_to_filter = codigos_INE_long.COD
rows_to_filter

0     02005
1     28039
2     28040
3     28041
4     11021
      ...
67    47045
68    48018
69    37041
70    50065
71    50297
Name: COD, Length: 72, dtype: object

In [110]:
rows_to_filter1 = codigos_INE_long.Ciudad
rows_to_filter1

0              Albacete
1     Alcalá de Henares
2            Alcobendas
3              Alcorcón
4             Algeciras
            ...
67             Valencia
68           Valladolid
69                 Vigo
70               Zamora
71             Zaragoza
Name: Ciudad, Length: 72, dtype: object

In [111]:
population_csv = pd.read_csv("10mun00_nuevo.csv", encoding = 'utf-8')

In [112]:
population_csv

,,1 Total viviendas (2+3),2.1 Total viviendas principales (2.11+2.12),2.21 Viviendas secundarias,2.22 Viviendas vacias,3 Total viviendas colectivas
0,27001 Abadín,"1,655",984,294,377,0
1,48001 Abadiño,"2,979","2,695",137,146,1
2,30001 Abanilla,"4,341","2,519",576,"1,243",3
3,48002 Abanto y Ciérvana-Abanto Zierbena,"4,439","3,932",143,363,1
4,30002 Abarán,"6,619","4,654",744,"1,220",1
...,...,...,...,...,...,...
2303,01063 Zuia,"1,152",899,143,108,2
2304,18194 Zújar,"1,663","1,097",379,187,0
2305,20081 Zumaia,"4,449","3,550",466,430,2
2306,20080 Zumarraga,"4,570","4,295",36,234,6
2307,04103 Zurgena,"1,917","1,273",344,300,0

Cambiamos el nombre de las columnas del dataframe

In [113]:
population_csv.columns = ['COD_CIUDAD', 'Total viviendas', 'Total viviendas principales', 'Viviendas secundarias', 'Viviendas vacias', 'Total viviendas colectivas']

In [114]:
population_csv.columns

Index(['COD_CIUDAD', 'Total viviendas', 'Total viviendas principales',
       'Viviendas secundarias', 'Viviendas vacias',
       'Total viviendas colectivas'],
      dtype='object')

In [115]:
population_csv.head(4)

,COD_CIUDAD,Total viviendas,Total viviendas principales,Viviendas secundarias,Viviendas vacias,Total viviendas colectivas
0,27001 Abadín,"1,655",984,294,377,0
1,48001 Abadiño,"2,979","2,695",137,146,1
2,30001 Abanilla,"4,341","2,519",576,"1,243",3
3,48002 Abanto y Ciérvana-Abanto Zierbena,"4,439","3,932",143,363,1

Vamoa dividir el valor de codigo INE y ciudad que estan fusionados en la misma columna en el dataframe original.

 Para que funcione el método string tiene que estar aplicado sobre la columan que es 
 string y no sobre una que es objeto, sin embargo, las transformaciones  string no han funcionado por lo tanto tendremos que realizar un split con un procedimiento más complicado usando la función split de python.

In [116]:
population_csv['COD_CIUDAD'] = population_csv['COD_CIUDAD'].astype('string')

In [117]:


# Utilizamos el método general split para dividir la columna
population_csv['COD'], population_csv['Ciudad'] = zip(*population_csv['COD_CIUDAD'].apply(lambda x: x.split(" ", 1)))

In [121]:
population_csv

,COD_CIUDAD,Total viviendas,Total viviendas principales,Viviendas secundarias,Viviendas vacias,Total viviendas colectivas,COD,Ciudad
0,27001 Abadín,"1,655",984,294,377,0,27001,Abadín
1,48001 Abadiño,"2,979","2,695",137,146,1,48001,Abadiño
2,30001 Abanilla,"4,341","2,519",576,"1,243",3,30001,Abanilla
3,48002 Abanto y Ciérvana-Abanto Zierbena,"4,439","3,932",143,363,1,48002,Abanto y Ciérvana-Abanto Zierbena
4,30002 Abarán,"6,619","4,654",744,"1,220",1,30002,Abarán
...,...,...,...,...,...,...,...,...
2303,01063 Zuia,"1,152",899,143,108,2,01063,Zuia
2304,18194 Zújar,"1,663","1,097",379,187,0,18194,Zújar
2305,20081 Zumaia,"4,449","3,550",466,430,2,20081,Zumaia
2306,20080 Zumarraga,"4,570","4,295",36,234,6,20080,Zumarraga
2307,04103 Zurgena,"1,917","1,273",344,300,0,04103,Zurgena

In [89]:
# population_csv[['COD','Ciudad']] = population_csv['COD_CIUDAD'].str.split(" ",1, expand=True)

In [122]:
population_csv = population_csv.drop(columns = ["COD_CIUDAD"])

In [125]:
rows_to_filter

0     02005
1     28039
2     28040
3     28041
4     11021
      ...
67    47045
68    48018
69    37041
70    50065
71    50297
Name: COD, Length: 72, dtype: object

Colocamos el cod como índice

In [133]:
population_indcod = population_csv.set_index('COD')

In [134]:
filtered_population_indcod = population_indcod.loc[population_indcod.index.isin(rows_to_filter)]

Si contamos el número de coincidencias, solo han habido 26

In [135]:
len(filtered_population_indcod.Ciudad)

26

Probaremos hacer una selección en base a los nombres, colocamos el nombre de la ciudad como índice

In [136]:
population_ind = population_csv.set_index('Ciudad')

In [137]:
population_ind

,Total viviendas,Total viviendas principales,Viviendas secundarias,Viviendas vacias,Total viviendas colectivas,COD
Ciudad,,,,,,
Abadín,"1,655",984,294,377,0,27001
Abadiño,"2,979","2,695",137,146,1,48001
Abanilla,"4,341","2,519",576,"1,243",3,30001
Abanto y Ciérvana-Abanto Zierbena,"4,439","3,932",143,363,1,48002
Abarán,"6,619","4,654",744,"1,220",1,30002
...,...,...,...,...,...,...
Zuia,"1,152",899,143,108,2,01063
Zújar,"1,663","1,097",379,187,0,18194
Zumaia,"4,449","3,550",466,430,2,20081
Zumarraga,"4,570","4,295",36,234,6,20080
Zurgena,"1,917","1,273",344,300,0,04103

Filtramos utilizando los nombres

In [138]:
rows_to_filter1

0              Albacete
1     Alcalá de Henares
2            Alcobendas
3              Alcorcón
4             Algeciras
            ...
67             Valencia
68           Valladolid
69                 Vigo
70               Zamora
71             Zaragoza
Name: Ciudad, Length: 72, dtype: object

In [139]:
pop_filtered_city = population_ind.loc[population_ind.index.isin(rows_to_filter1)]

In [140]:
pop_filtered_city

Empty DataFrame
Columns: [Total viviendas, Total viviendas principales, Viviendas secundarias, Viviendas vacias, Total viviendas colectivas, COD]
Index: []

In [141]:
mask = population_csv['Ciudad'].str.contains('|'.join(rows_to_filter1))

In [102]:
# Filtrar el DataFrame original usando la Serie booleana como índice
filtered_pop_mask = population_csv[mask]

Contaremos el número de coincidencias utilizando el método anterior

In [143]:
len(filtered_pop_mask)

102

Al ser más flexible las codiciones del método anterior hemos seleccionado más ciudades que eliminaremos manualmente una vez exportado el archivo

In [144]:
filtered_pop_mask.to_csv('fil_poblacion_censo_2011_ciudad_iso.csv', encoding = 'ISO-8859-1')

# Parte IV: Datos GDP

Se descargaron ficheros xls uno para cada provincia. El fichero tiene el nombre con el código del municipio. Los ficheros contienen los datos del municipio, como también de áreas más desagregadas. Hay dos grupos de ficheros que tienen un formato levemente diferente por lo que el proceso para cada uno de estos grupos es levemente diferente.

Probamos uno de los ficheros con formato distinto

In [183]:
df = pd.read_excel('./renta provincias/formato distinto/30656.xls', sheet_name=0, skiprows = 7)

In [184]:
df.head(2)

                                   2020
0                02001 Abengibre  11675
1  0200101 Abengibre distrito 01  11675

Se cambia el nombre de las columnas

In [185]:
df.columns = ("COD Ciudad","Renta neta media por persona")

In [186]:
df.head(2)

                      COD Ciudad Renta neta media por persona
0                02001 Abengibre                        11675
1  0200101 Abengibre distrito 01                        11675

Es necesario seperar la columna cod ciudad en el codigo y el nombre

In [187]:
codigos_INE_long = pd.read_csv("codigos_INE_long_final.csv", encoding = 'ISO-8859-1', dtype ={"COD":str})

In [188]:
rows_to_filter = codigos_INE_long.COD
rows_to_filter

0     02005
1     28039
2     28040
3     28041
4     11021
      ...
67    47045
68    48018
69    37041
70    50065
71    50297
Name: COD, Length: 72, dtype: object

In [189]:
rows_to_filter1 = codigos_INE_long.Ciudad
rows_to_filter1

0              Albacete
1     Alcalá de Henares
2            Alcobendas
3              Alcorcón
4             Algeciras
            ...
67             Valencia
68           Valladolid
69                 Vigo
70               Zamora
71             Zaragoza
Name: Ciudad, Length: 72, dtype: object

Se construyeron dos expresiones regulares para separar el nombre de los códigos

In [191]:
patron = r'^(\d+)([^\d]+)(\d+)$'

In [192]:
patron1 = r'^(\d+)([^\d]+)'

In [160]:
df1 = df

In [193]:
# Aplicar la función extract para crear las nuevas columnas
df[["COD","CIUDAD"]] = df['COD Ciudad'].str.extract(patron1)

In [194]:
df.head(10)

,COD Ciudad,Renta neta media por persona,COD,CIUDAD
0,02001 Abengibre,11675,02001,Abengibre
1,0200101 Abengibre distrito 01,11675,0200101,Abengibre distrito
2,0200101001 Abengibre sección 01001,11675,0200101001,Abengibre sección
3,02002 Alatoz,9866,02002,Alatoz
4,0200201 Alatoz distrito 01,9866,0200201,Alatoz distrito
5,0200201001 Alatoz sección 01001,9866,0200201001,Alatoz sección
6,02003 Albacete,12529,02003,Albacete
7,0200301 Albacete distrito 01,14260,0200301,Albacete distrito
8,0200301001 Albacete sección 01001,18111,0200301001,Albacete sección
9,0200301002 Albacete sección 01002,16631,0200301002,Albacete sección

A continuación se hace un prueba con el formato más común

In [197]:
inv = pd.read_excel('./renta provincias/30953.xls', sheet_name=0, skiprows = 7)

In [198]:
inv.columns = ("COD Ciudad","Renta neta media por persona 2020")

In [201]:
inv[["COD","CIUDAD"]] = inv['COD Ciudad'].str.extract(patron1)

In [202]:
inv.head(2)

,COD Ciudad,Renta neta media por persona 2020,COD,CIUDAD
0,39001 Alfoz de Lloredo,11589,39001,Alfoz de Lloredo
1,39002 Ampuero,11220,39002,Ampuero

A continuación definimos la columna COD como indice del df

In [203]:
inv_index = inv.set_index("COD")

In [204]:
rows_to_filter

0     02005
1     28039
2     28040
3     28041
4     11021
      ...
67    47045
68    48018
69    37041
70    50065
71    50297
Name: COD, Length: 72, dtype: object

Filtramos por medio de los índices utilizando el código del municipio

In [205]:
inv_index.loc[inv_index.index.isin(rows_to_filter)]

,COD Ciudad,Renta neta media por persona 2020,CIUDAD
COD,,,
39018,39018 Cartes,10998,Cartes
NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN
NaN,Notas:,NaN,NaN
NaN,.Dato protegido por secreto estadístico,NaN,NaN
NaN,Estadística experimental,NaN,NaN
NaN,"La renta por unidad de consumo se obtiene, par...",NaN,NaN
NaN,NaN,NaN,NaN
NaN,Fuente:,NaN,NaN
NaN,Instituto Nacional de Estadística,NaN,NaN

Realizamos una busqueda más flexible

In [206]:
mask_inv = inv['CIUDAD'].str.contains('|'.join(rows_to_filter1)).dropna()

Se eliminaron los na

In [207]:
mask_inv.isna().sum()

0

Por precaución eliminamos los NA

In [213]:
inv = inv.dropna()

A continuación verificamos que hemos podido seleccionar uno de los municipios por el código

In [214]:
inv[mask_inv]

         COD Ciudad Renta neta media por persona 2020    COD      CIUDAD
74  39075 Santander                             14202  39075   Santander

El procedimiento anterior debe ser realizado de forma iterativa para cada fichero xls, y el resultado debe ser añadido a un nuevo dataframe.

In [246]:
import pandas as pd
import geopandas as gpd
import os
import glob
import os
import string

Se define el directorio de trabajo

In [248]:
os.getcwd()

'd:\\Respaldo toshiba\\projectos\\manifolds\\ciudades\\datos\\socioeconomicos\\renta provincias'

In [247]:
path =('./renta provincias')
# Change the directory
os.chdir(path)

FileNotFoundError: [WinError 2] The system cannot find the file specified: './renta provincias'

In [244]:
os.chdir(path)

FileNotFoundError: [WinError 2] The system cannot find the file specified: './renta provincias'

Realizaremos el procedimiento probado anteriormente de forma iterativa para cada fichero. Guardaremos los resultados en un diccionario con el dataframe para cada municipio

In [218]:
dict_excel = {}


for file in os.listdir():
    if file.endswith('.xls'):
            temp = pd.read_excel(file, sheet_name = 0)
            temp = temp.iloc[:,0:2].dropna()
            #nom_columnas = (temp.columns)
            temp.columns = ("COD Ciudad","Renta neta media por persona 2020")
            patron1 = r'^(\d+)([^\d]+)'
            temp[["COD","CIUDAD"]] = temp['COD Ciudad'].str.extract(patron1)
            temp = temp.dropna()
            df_temp = pd.DataFrame(temp)
            dict_excel[file] = df_temp

In [230]:
len(dict_excel)

36

A continuación vamos aplicar el proceso de selección por nombre de la ciudad de forma flexible
para seleccionar el municipio de interés. Esto se guarda en formato en un diccionario de dataframes  (dict_exacto), adicionalmente creamos un dataframe donde se van concatenando los resultdos (df_temp)

In [231]:
dict_exacto = {}
df_temp = pd.DataFrame()
for key, value in dict_excel.items():
    t = dict_excel[key]
    #t1 = t.set_index('CIUDAD')
    #t2 = t1.loc[t1.index.isin(rows_to_filter1)]
    t1 =  t['CIUDAD'].str.contains('|'.join(rows_to_filter1)).dropna()
    #t1 =  t['CIUDAD'].str.match('|'.join(rows_to_filter1)).dropna()
    final = t[t1]
    df_final = pd.DataFrame(final)
    df_temp = pd.concat([df_temp,df_final], axis = 0)
    dict_exacto[key] = df_final

In [236]:
df_temp

,COD Ciudad,Renta neta media por persona 2020,COD,CIUDAD
81,39075 Santander,14202,39075,Santander
39,13033 Castellar de Santiago,8549,13033,Castellar de Santiago
40,13034 Ciudad Real,13580,13034,Ciudad Real
27,14021 Córdoba,11791,14021,Córdoba
46,14040 Montalbán de Córdoba,9408,14040,Montalbán de Córdoba
...,...,...,...,...
187,47186 Valladolid,14247,47186,Valladolid
99,49103 Madridanos,10446,49103,Madridanos
254,49275 Zamora,12884,49275,Zamora
7,51001 Ceuta,12358,51001,Ceuta
7,52001 Melilla,11665,52001,Melilla

Se realiza un expresion regular para  seleccionar coincidencias tanto por seccion como por distrito sobre dataframe concatenado df_temp

In [237]:
mask = df_temp['CIUDAD'].str.contains('sección|distrito', regex=True)

Esta mascara boleana es utilizada para seleccionar los elementos coincidentes dentro del dataframe

In [239]:
df = df_temp[~mask]

In [241]:
len(df)

106

In [292]:
df.to_csv('GDP_final.csv', encoding = "ISO-8859-1")

Repetimos el proceso para los ficheros que tienen un formato distinto. Definmos como el directorio donde estan los ficheros de formato distinto utilizando una ruta relativa consideranco que hemos cambiado el directorio raíz a ./renta provincias/

In [249]:
path1 =('./formato distinto')

Asignamos el nuevo directorio de trabajo

In [253]:
os.chdir(path1)

FileNotFoundError: [WinError 2] The system cannot find the file specified: './formato distinto'

Ejecutamos el proceso de forma iterativa para cada uno de los ficheros de formato distinto, los guardamos en un diccionario de dataframes (dict_excel1)

In [254]:
dict_excel1 = {}

# Iterate over all the files in the directory
for file in os.listdir():
    if file.endswith('.xls'):
            temp = pd.read_excel(file, sheet_name = 0)
            temp = temp.iloc[:,0:2].dropna()
            #nom_columnas = (temp.columns)
            temp.columns = ("COD Ciudad","Renta neta media por persona 2020")
            patron1 = r'^(\d+)([^\d]+)'
            temp[["COD","CIUDAD"]] = temp['COD Ciudad'].str.extract(patron1)
            temp = temp.dropna()
            df_temp = pd.DataFrame(temp)
            dict_excel1[file] = df_temp

Seleccionamos con una selección amplia las coincidencias entre nombres de ciudad y dataframe de datos de ingresos, igual que anteriormente, guardamos esta información en un dataframe concatenando paso a paso (df_temp1)

In [256]:
dict_exacto1 = {}
df_temp1 = pd.DataFrame()
for key, value in dict_excel1.items():
    t = dict_excel1[key]
    #t1 = t.set_index('CIUDAD')
    #t2 = t1.loc[t1.index.isin(rows_to_filter1)]
    t1 =  t['CIUDAD'].str.contains('|'.join(rows_to_filter1)).dropna()
    #t1 =  t['CIUDAD'].str.match('|'.join(rows_to_filter1)).dropna()
    final1 = t[t1]
    df_final1 = pd.DataFrame(final1)
    df_temp1 = pd.concat([df_temp1,df_final1], axis = 0)
    dict_exacto1[key] = df_final1

Con una expresión regular identificamos coincidencias en sección o distrito

In [257]:
mask1 = df_temp1['CIUDAD'].str.contains('sección|distrito', regex=True)
df1 = df_temp1[~mask1]

In [259]:
len(df1)

47

In [260]:
df1.to_csv('GDP_formato_distinto.csv', encoding = 'ISO-8859-1')

# FIN